<p class="text-align-center heading-size"> PORTFOLIO</p>
<p class="heading-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam molestiae quidem iure. lorem20</p>


<div class="portfolio-filter text-align-center ">

    <button class="filter" >All</button>
    <button class="filter" >PHOTO</button>
    <button class="filter">VIDEO</button>
    <button class="filter">DESIGN</button>
    <button class="filter">WEB</button>
    <button class="filter">BRANDING</button>
</div>
<div class="portfolio-material">
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>
    <div class="portfolio-items"></div>


  
</div>
<div class="btn-center" >
    <button class="btn-center-styles">
        see all
    </button>
</div>
