<p class="text-align-center heading-size"> pricing plans</p>
<p class="heading-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam molestiae quidem iure.
    lorem20</p>
<div class="pricing-container">
    <div class="pricing-item">
        <div class="pricing-header">
            <div class="hex"> </div>

            <p class="pricing-text">standart</p>
        </div>
        <div class="pricing-content">
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
        </div>
    </div>
    <div class="pricing-item">
        <div class="pricing-header">
            <div class="hex"> </div>

            <p class="pricing-text">standart</p>
        </div>
        <div class="pricing-content">
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
        </div>
    </div>
    <div class="pricing-item">
        <div class="pricing-header">
            <div class="hex"> </div>

            <p class="pricing-text">standart</p>
        </div>
        <div class="pricing-content">
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
            <p class="content-item">Donec vulputate urna sed rutrum .</p>
        </div>
    </div>


</div>


<a class="button violet">create new</a>