<p class="text-align-center heading-size">Partners</p>

<div class="partners-container">
    <div class="partners-photo">
        <div class="partners-photo-item">
            <img src="../../../../assets/zart.png" alt="">
        </div>
        <div class="partners-photo-item">
            <img src="../../../../assets/1.png" alt="">
        </div>
        <div class="partners-photo-item">
            <img src="../../../../assets/logo-tint-pro 1.png" alt="">
        </div>
        <div class="partners-photo-item">
            <img src="../../../../assets/2.png" alt="">
        </div>
        <div class="partners-photo-item">
            <img src="../../../../assets/3.png" alt="">
        </div>
        <div class="partners-photo-item">
            <img src="../../../../assets/1059353_3fa4e 1.png" alt="">
        </div>
        <div class="partners-photo-item">
            <img src="../../../../assets/logo-tint-pro 1.png" alt="">
        </div>
       
    </div>
</div>