<div class="header-menu">
    <div class="item logo"><img src="../../../assets/Logo.svg" alt=""></div>
    <div class="container menu-items">
        <div class="item"><a routerLink="/home" routerLinkActive="active-menu">HOME</a></div>
        <div class="item"><a routerLink="/services" routerLinkActive="active-menu">SERVICES</a></div>
        <div class="item"><a routerLink="/plans" routerLinkActive="active-menu">PLANS</a></div>
        <div class="item"><a routerLink="/portfolio" routerLinkActive="active-menu">PORTFOLIO</a></div>
        <div class="item"><a routerLink="/about" routerLinkActive="active-menu">ABOUT US</a></div>
        <div class="item"><a routerLink="/contacts" routerLinkActive="active-menu">CONTACTS</a></div>

        <!-- <div class="languages">
            <select name="languages">
                <option>ENG </option>
                <option> ARM </option>
                <option> RU </option>
            </select>
        </div> -->
    </div>
    <div class="menu-toggle" [ngClass]={'display: opened'}>
        <div class="hamburger"></div>
    </div>
</div>