<p class="text-align-center heading-size">
    Beebrand offers the following services
</p>


<div class="services">

    <div class="services-item">
        <div class="hex"> </div>
        <p class="text-align-center hex-text">branding</p>
    </div>

    <div class="services-item">
        <div class="hex"> </div>
        <p class="text-align-center hex-text">web</p>
    </div>

    <div class="services-item">
        <div class="hex"> </div>
        <p class="text-align-center hex-text">typography</p>
    </div>

    <div class="services-item">
        <div class="hex"> </div>
        <p class="text-align-center hex-text">photo/video</p>
    </div>

    <div class="services-item">
        <div class="hex"> </div>
        <p class="text-align-center hex-text">smm</p>
    </div>
    
    <div class="services-item">
        <div class="hex"> </div>
        <p class="text-align-center hex-text">design</p>
    </div>
</div>