<div class="footer">
   
        <img src="../../../assets/Logo.svg" alt="" class="footer-logo" >
  
    <div class="footer-form">
        <div class="form-item">
            <p class="form-header">Services</p>
            <ul class="form-list">
                <li> <a href="#">  photo/video</a></li>
                <li> <a href="#">  photo/video</a></li>
                <li> <a href="#">  photo/video</a></li>
                <li> <a href="#">  photo/video</a></li>
                <li> <a href="#">  photo/video</a></li>
                <li> <a href="#">  photo/video</a></li>
              </ul>
        </div>
        <div class="form-item">
            <p class="form-header">Contacts</p>
               <a href="">354564646</a>
              <a href=""> Yerevan</a>
              <a href="mailto:beebreand@gmail.com"> adadasdasd</a>
        </div>
    </div>
    <div class="footer-bottom">
      copyright by bee brand
      </div>
</div>

<!-- <div class="footer"> 
    <div class="footer-container">
        <div class="img-logo">
            <img src="../../../assets/Logo.svg" alt="BeebreandLogo " class="logo">
        </div>
        <div class="ft-info">
            <p class="form-header">Services</p>
        </div>
    </div>

</div> -->