<div class="footer">
    <div class="footer-form">
    <img src="../../../assets/Logo.svg" alt="" class="footer-logo">

        <div class="form-item">

            <p class="form-header">Services</p>
            <ul class="form-list">
                <li> <a href="#"> photo/video</a></li>
                <li> <a href="#"> photo/video</a></li>
                <li> <a href="#"> photo/video</a></li>
                <li> <a href="#"> photo/video</a></li>
                <li> <a href="#"> photo/video</a></li>
                <li> <a href="#"> photo/video</a></li>
            </ul>
        </div>
        <div class="form-item">
            <p class="form-header">Contacts</p>
            <ul class="form-list">
                <li> <a href="#"> +374 99 33 73 74</a></li>
                <li> <a href="#"> Erevan</a></li>
                <li> <a href="#">Beebrand@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        copyright by bee brand
    </div>
</div>
