.footer { 

    background:#000000;
    width: 100%;
    max-width: 1920px;
    height: auto;
    .footer-logo { 
        width: 163px;
        height: 175px;
          margin-top: 50px;
    }
 .footer-form { 
     display: flex;
     justify-content: center;
     align-items: center;
     .form-item { 
         margin-top: 100px;
        .form-header {
            font-size: 35px;
            line-height: 36px;
            color: #FFFFFF;
         }
         .form-list  li a { 
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.04em;
            font-variant: small-caps;
            color: #FFFFFF;
            text-decoration: none;
         } 
     }
 }
 .footer-bottom {
     padding: 9px 0 9px;
     text-align: center;
     color: #545454;
     font-size: 20px;
     line-height: 25px;
     letter-spacing: 0.04em;
     font-variant: small-caps;
 }
}
