/* You can add global styles to this file, and also import other style files */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
.text-align-center{ 
    text-align: center;
}
.heading-size{ 
    padding-top:100px;
    padding-bottom:30px;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
}

.heading-paragraph { 
    font-size: 20px;
    line-height: 24px;
    margin:0 auto;
    letter-spacing: 0.04em;
    padding-bottom: 46px;
    max-width: 736px;
    width: 100%;
}
.btn-center-styles{ 
    display: block;
    margin:0 auto;
}
.btn-center { 
    margin-top: 56px;
}
.active-menu { 
    color:#FF8008;
    border-bottom: 1px solid #FF8008;
 }

     
.button{
    position: relative;
      display:block;
      background: transparent;
      width:240px;
      line-height:60px;
      text-align:center;
      font-size:15px;
      text-decoration:none;
      text-transform:uppercase;
      margin:40px auto;
  }
  .button:before, .button:after {
    background: linear-gradient(89.93deg, #FF8008 -65.4%, #FFC837 99.88%, rgba(255, 255, 255, 0) 99.88%, #FFC837 99.88%);
      width:230px;
    left: 0px;
      height:27px;
    z-index: -1;
  }
  
  
  .violet:before,.violet:after {
      border: 3px solid transparent;
  }
  
  
  .button:before{
    position: absolute;
    content: '';
    border-bottom: none;
    -webkit-transform: perspective(15px) rotateX(5deg);
    -moz-transform: perspective(15px) rotateX(5deg);
    transform: perspective(15px) rotateX(5deg);  
  }
  .button:after{
    position: absolute;
    top: 32px;
    content: '';
    -webkit-transform: perspective(15px) rotateX(-5deg);
    -moz-transform: perspective(15px) rotateX(-5deg);
    transform: perspective(15px) rotateX(-5deg);
  }
  
  
  .button{
      color:#000;
  }
  
  
  
